* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    color: #fff;
    background-color: #f2f2f2;
}

.hero {
	background: #000;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	opacity: 0;
	transition: opacity 1s ease-in;
}

.hero.visible {
	opacity: 1;
}

.text {
	width: 100%;
	color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 400px;
	font-weight: bold;

	background-image: url('../images/Creation_of_Adam.jpg');
	background-size: cover;
	background-position-y: 810px;
	background-position-x: 60px;
	
	background-clip: text;
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}

.btn {
	position: fixed;
	top: 30px;
	left: 30px;
	background-color: #dbc5b0;
	color: #fff;
	padding: 15px 40px;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
    z-index: 1000;
}

.btn:hover {
	background-color: #c19b84;
}

.hidden {
	display: none;
}